<!doctype html>
<html lang="en">

<head>
<meta charset="utf-8">

<title>Grunt</title>

<meta name="author" content="Anders Janmyr">

<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

<link rel="stylesheet" href="reveal.js/css/reveal.min.css">
<link rel="stylesheet" href="reveal.js/css/theme/moon.css">
<link rel="stylesheet" href="theme/jayway.css">

<!-- For syntax highlighting -->
<link rel="stylesheet" href="reveal.js/lib/css/zenburn.css">
<link rel="stylesheet" href="local.css">

<!-- If the query includes 'print-pdf', use the PDF print sheet -->
<script>
document.write( '<link rel="stylesheet" href="reveal.js/css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );
</script>

<!--[if lt IE 9]>
        <script src="lib/js/html5shiv.js"></script>
        <![endif]-->
</head>

<body>

<div class="reveal">

    <!-- Any section element inside of this container is displayed as a slide -->
    <div class="slides">
        <section data-markdown>
            # Grunt
            ### http://anders.janmyr.com
            ### @andersjanmyr
            ### anders.janmyr@jayway.com
        </section>

        <section>
            <section data-markdown>
                <script type='text/template'>
                ![Grunt Logo](grunt-logo.png)
                </script>
            </section>
        </section>

        <section>
            <section data-markdown>
                <script type='text/template'>
                # Installation

                    # Install grunt-cli GLOBALLY
                    $ npm install -g grunt-cli

                It uses the locally installed grunt via `require`

                </script>
            </section>
            <section data-markdown>
                <script type='text/template'>
                ## Command line completion

                    # Install command line completion
                    $ eval "$(grunt --completion=bash)"

                Put this in `~/.bashrc` or elsewhere

                </script>
            </section>
        </section>


        <section>
            <section data-markdown>
                <script type='text/template'>
                # A Grunt Project

                Two files:

                * `package.json`
                * `Gruntfile.js` or `Gruntfile.coffee`

                </script>
            </section>
            <section data-markdown>
                <script type='text/template'>
                ## `package.json`

                    {
                        "name": "my-project-name",
                        "version": "0.1.0",
                        "devDependencies": {
                            "grunt": "~0.4.1", /* required by grunt-cli */
                            "grunt-contrib-jshint": "~0.1.1" /* a grunt plugin */
                        }
                    }
                </script>
            </section>
            <section data-markdown>
                <script type='text/template'>
                # `npm` tips

                    # Add to devDependencies section
                    $ npm install grunt-contrib-uglify --save-dev

                    # Add to dependencies section
                    $ npm install restify --save

                    # Create a new project (package.json)
                    $ npm init

                </script>
            </section>
        </section>

        <section>
            <section data-markdown>
                <script type='text/template'>
                ## `Gruntfile.js`

                Four parts:

                * Wrapper function
                * Project and task configuration
                * Loading grunt plugins and tasks
                * Custom tasks

                </script>
            </section>
            <section>
                <h2><code>Gruntfile.coffee</code></h2>
                <pre><code class='coffeescript'>module.exports = (grunt) ->
    grunt.initConfig(
        pkg: grunt.file.readJSON('package.json'),
        uglify:
        options:
            banner: '/*! <%= pkg.name %>; */\n'
        build:
            src: 'src/<%= pkg.name %>.js',
            dest: 'build/<%= pkg.name %>.min.js'

    grunt.loadNpmTasks('grunt-contrib-uglify')
    grunt.registerTask('default', ['uglify'])</code></pre>
            </section>
            <section data-markdown>
                <script type='text/template'>
                ## The Wrapper Function
                    module.exports = function(grunt) {
                        // Do grunt-related things in here
                    };
                </script>
            </section>
            <section>
                <h2>Project and Task Configuration</h2>
                <pre><code class='javascript'>
// Project configuration.
grunt.initConfig({
  pkg: grunt.file.readJSON('package.json'),
  uglify: {
  options: {
    banner: '//<%= grunt.template.today("yyyy-mm-dd") %>'
  },
  build: {
    src: 'src/<%= pkg.name %>.js',
    dest: 'build/<%= pkg.name %>.min.js'
  } } });
                </code></pre>
            </section>
            <section>
                <h2>Loading Plugins and Tasks</h2>
                <pre><code class='javascript'>
// Load the plugin that provides the "uglify" task.
grunt.loadNpmTasks('grunt-contrib-uglify');

// Load all tasks defined in local tasks directory
grunt.loadTasks('tasks');
                </code></pre>
            </section>
            <section>
              <h2>Loading Plugins
              </br> a better way, <code>(matchdep)</code></h2>
                <pre><code class='coffeescript'># Load a bunch of plugins
grunt.loadNpmTasks('grunt-contrib-watch')
grunt.loadNpmTasks('grunt-contrib-csslint')
grunt.loadNpmTasks('grunt-contrib-cssmin')
grunt.loadNpmTasks('grunt-contrib-coffee')
...
grunt.loadNpmTasks('grunt-mocha')

# Load tasks from package.json matching "grunt-*"
require('matchdep')
  .filterDev('grunt-*').forEach(grunt.loadNpmTasks)
                </code></pre>
            </section>
            <section data-markdown>
                <script type='text/template'>
                ## Custom Tasks

                    // Default task, $ grunt
                    grunt.registerTask('default', ['uglify']);

                    // Deploy task, $ grunt deploy
                    grunt.registerTask('deploy', ['concat', 'uglify', 'scp']);

                </script>
            </section>
        </section>

        <section>
            <section data-markdown>
                <script type='text/template'>
                # Configuration

                    grunt.initConfig({
                      // Arbitrary non-task-specific properties.
                      my_property: 'whatever',
                      my_src_files: ['foo/*.js', 'bar/*.js'],

                      concat: {
                        // concat task configuration goes here.
                      },
                      uglify: {
                        // uglify task configuration goes here.
                      },
                    });
                </script>
            </section>
            <section>
                <h2>Multi-tasks</h2>
                <pre><code class='coffescript'>grunt.initConfig(
  concat:
    options:
      # Task-level options, overriding defaults

    development:
      # development, $ grunt foo:development
      options:
        # "development" options, overriding task-level

    production: # production, $ grunt foo:production
      options:
        # "production" options, overriding task-level
                </code></pre>
            </section>
            <section>
                <h1>Files</h1>
                Multitasks supports many files formats
            </section>
            <section>
                <h2><code>Single src:</code> and <code>dest:</code></h2>
                <pre><code class='javascript'>grunt.initConfig({
  jshint: {
    foo: {
      src: ['src/aa.js', 'src/aaa.js']
    },
  },
  concat: {
    bar: {
      src: ['src/bb.js', 'src/bbb.js'],
      dest: 'dest/b.js',
    },
  },
});
                </code></pre>
            </section>
            <section>
                <h2>Files (Object Format)</h2>
                <pre><code class='coffeescript'>grunt.initConfig(
  concat:
    foo:
      files:
        'dest/a.js': ['src/aa.js', 'src/aaa.js']
        'dest/a1.js': ['src/aa1.js', 'src/aaa1.js']

    bar:
      files:
        'dest/b.js': ['src/bb.js', 'src/bbb.js']
        'dest/b1.js': ['src/bb1.js', 'src/bbb1.js']
                </code></pre>
            </section>
            <section>
              <h2>Files (Array Format)</h2>
                <pre><code class='coffeescript'>grunt.initConfig(
  concat:
    foo:
      files: [
        {src: ['src/client/*.js'], dest: 'dest/a.js'}
        {src: ['src/server/**/*.js'], dest: 'dest/a1.js'}
      ]
    bar:
      files: [
        {src: 'src/a.js', dest: 'dest/', filter: 'isFile'}
      ]</code></pre>
            </section>
            <section>
                <h2>Files (globbing)</h2>
                <pre><code class='javascript'>// You can specify single files:
{src: 'foo/this.js', dest: ...}

// Or arrays of files:
{src: ['foo/this.js', 'foo/that.js'], dest: ...}

// Or you can generalize with a glob pattern:
{src: 'foo/th*.js', dest: ...}

// All .js files, in foo/, in alpha order:
{src: ['foo/*.js'], dest: ...}
</code></pre>
            </section>
            <section>
                <h2>Let it glob, let it glob, let it glob</h2>
                <pre><code class='javascript'>// Here, bar.js is first, remaining files, in alpha order:
{src: ['foo/bar.js', 'foo/*.js'], dest: ...}

// This single node-glob pattern:
{src: 'foo/{a,b}*.js', dest: ...}

// All files except for bar.js, in alpha order:
{src: ['foo/*.js', '!foo/bar.js'], dest: ...}

// All files in alpha order, but with bar.js at the end.
{src: ['foo/*.js', '!foo/bar.js', 'foo/bar.js'], dest: ...}
                </code></pre>
            </section>
            <section>
                <h2>Files <code>filter</code></h2>
                <pre><code class='javascript'>grunt.initConfig({
  clean: {
    foo: {
      src: ['tmp/**/*'],
      filter: function(filepath) {
        return grunt.file.isDir(filepath) &amp;&amp;
          require('fs').readdirSync(filepath).length === 0;
      }
    }
  }
});
                </code></pre>
            </section>
            <section>
                <h2>Files <code>expand</code></h2>
                <pre><code class='javascript'>grunt.initConfig({
  minify: {
    dynamic_mappings: {
      files: [
        {
          expand: true,     // Enable dynamic expansion.
          cwd: 'lib/',      // Src are relative to this
          src: ['**/*.js'], // Actual pattern(s) to match.
          dest: 'build/',   // Destination path prefix.
          ext: '.min.js',   // Dest files gets extension.
        }
      ]}}});
                </code></pre>
            </section>
            <section>
                <h2>Templates</h2>
                <pre><code class='javascript'>grunt.initConfig({
  concat: {
    sample: {
      options: {
        banner: '/* <%= bar %> */\n',
      },
      src: ['<%= foo %>'],
    },
  },
  // Properties are expanded recursively
  foo: 'c',
  bar: 'b<%= foo %>d', // 'bcd'
});            </code></pre>
            </section>
            <section>
                <h2>External Data</h2>
                <pre><code class='javascript'>grunt.initConfig({
  pkg: grunt.file.readJSON('package.json'),
  uglify: {
    dist: {
      src: 'src/<%= pkg.name %>.js',
      dest: 'dist/<%= pkg.name %>.min.js'
    }
  }
});
                </code></pre>
            </section>
        </section>

        <section>
            <section data-markdown>
                <script type='text/template'>
                # Plugins
                </script>
            </section>
            <section>
              <h2><code>watch</code> and <code>livereload</code></h2>
              <ul>
                <li><code>grunt-contrib-requirejs</code></li>
                <li><code>grunt-contrib-jshint</code></li>
              </ul>
              <pre><code class='javascript'>grunt.initConfig({
  watch: {
    scripts: {
      files: ['**/*.js'],
      tasks: ['livereload'],
      options: {
        nospawn: true,
      }
    }
}
              </code></pre>
            </section>
            <section data-markdown>
                <script type='text/template'>
                  # Javascript

                  * `grunt-contrib-requirejs`
                  * `grunt-contrib-jshint`
                  * `grunt-contrib-uglify`
                  * `grunt-contrib-coffee`
                </script>
            </section>
            <section data-markdown>
                <script type='text/template'>
                  # Test

                  * `grunt-contrib-mocha`
                  * `grunt-buster`
                  * `grunt-contrib-jasmine`
                  * `grunt-contrib-nodeunit`
                  * `grunt-contrib-qunit`
                </script>
            </section>
            <section data-markdown>
                <script type='text/template'>
                  # CSS

                  * `grunt-contrib-cssmin`
                  * `grunt-contrib-csslint`
                  * `grunt-contrib-concat`
                  * `grunt-contrib-sass`
                  * `grunt-contrib-less`
                  * `grunt-contrib-stylus`
                  * `grunt-contrib-compass`
                </script>
            </section>
            <section data-markdown>
                <script type='text/template'>
                  # Templating

                  * `grunt-contrib-handlebars`
                  * `grunt-contrib-jade`
                  * `grunt-contrib-jst`
                </script>
            </section>
            <section data-markdown>
                <script type='text/template'>
                  # Images

                  * `grunt-contrib-imagemin`
                  * `grunt-imageoptim`
                  * `grunt-image-resize`
                  * `grunt-imagine`
                </script>
            </section>
            <section data-markdown>
                <script type='text/template'>
                  # Utilities

                  * `grunt-contrib-compress`
                  * `grunt-contrib-copy`
                  * `grunt-contrib-clean`
                  * `grunt-contrib-htmlmin`
                </script>
            </section>
        </section>

        <section>
            <section data-markdown>
                <script type='text/template'>
                <img src='stupid-questions.jpg' align='right' alt='questions'/>

                # Questions
                ### http://anders.janmyr.com
                ### @andersjanmyr
                ### anders.janmyr@jayway.com
                </script>
            </section>
        </section>
    </div>


</div>

<script src="reveal.js/lib/js/head.min.js"></script>
<script src="reveal.js/js/reveal.min.js"></script>

<script>

// Full list of configuration options available here:
// https://github.com/hakimel/reveal.js#configuration
Reveal.initialize({
    theme: Reveal.getQueryHash().theme,
    transition: Reveal.getQueryHash().transition || 'default',
    history: true,

    // Optional libraries used to extend on reveal.js
    dependencies: [
        { src: 'reveal.js/lib/js/classList.js', condition: function() { return !document.body.classList; } },

        // Interpret Markdown in <section> elements
        { src: 'reveal.js/plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
        { src: 'reveal.js/plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },



        { src: 'reveal.js/plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
        { src: 'reveal.js/plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
        { src: 'reveal.js/plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
        // { src: 'plugin/remotes/remotes.js', async: true, condition: function() { return !!document.body.classList; } }
    ]
});

</script>

</body>
</html>
